.video-list
    composes: wideContainer from '../components/helpers.sass'
    padding-top: 0px
    padding-bottom: 60px
    list-style: none
    @media screen and (min-width: 700px)
        padding-top: 20px
        padding-bottom: 110px

.video-item
    margin-bottom: 50px
    @media screen and (min-width: 500px)
        display: grid
        grid-template-columns: 3fr 2fr
        grid-column-gap: 40px
        grid-row-gap: 55px

.video-title
    @media screen and (min-width: 500px)
        margin-top: 0px

.video-container
    max-width: 100%
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%