// Color scheme
$darkestblue: #175056
$darkblue: #68A5DE
$blue: #45C4CE

$darkgrey: #272727
$lightgrey: #f7f7f7


// Animations
@keyframes slideIn
    from
        width: 0%
    to
        width: 100%

@keyframes fadeIn
    from
        opacity: 0
    to
        opacity: 1


// Constrained widths
.wide-container
    max-width: 1000px
    width: 100%
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px

.narrow-container
    max-width: 700px
    width: 100%
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px


// Section titles
.section-title
    text-align: center
    font-size: 2em
    margin-top: 0px
    margin-bottom: 60px
    @media screen and (min-width: 500px)
        font-size: 2.5em
    @media screen and (min-width: 800px)
        font-size: 2.8em
    @media screen and (min-width: 1400px)
        font-size: 3em

// Inline links
.inline-link
    text-transform: uppercase
    letter-spacing: 2px
    text-decoration: none
    font-weight: bold
    font-size: 0.9em