@import 'helpers.sass'
    
.section-title
    composes: sectionTitle from './helpers.sass'

.latest-posts
    composes: narrowContainer from './helpers.sass'
    padding-top: 60px
    padding-bottom: 60px
    @media screen and (min-width: 700px)
        padding-top: 110px
        padding-bottom: 110px

.post-list
    margin: 0
    padding: 0
    list-style: none

.post-item
    margin-bottom: 50px
    &:last-of-type
        margin-bottom: 0px

.post-meta
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

.post-title
    font-weight: normal
    margin-bottom: 0px
    line-height: 1.4em
    font-size: 1.3em
    color: $darkgrey
    @media screen and (min-width: 700px)
        font-size: 1.8em

.post-date
    font-size: 0.9em

.inline-link
    composes: inlineLink from './helpers.sass'
    color: $blue