@import 'helpers.sass'

.field-label
    // opacity: 0.5
    font-size: 1px
    margin-bottom: 10px
    position: absolute
    left: -1000px

.form
    @media screen and (min-width: 600px)
        display: flex
        flex-direction: row
        width: 100%

.field
    padding: 10px
    font-size: 1em
    border-radius: 2px 0px 0px 2px
    border: 1px solid #dfdfdf
    display: block
    width: 100%
    margin-bottom: 20px
    flex: 1
    @media screen and (min-width: 600px)
        border-width: 1px 0px 1px 1px

.button
    composes: 'button' from './helpers.sass'
    border: none
    background: $blue
    color: white
    height: 40px
    font-size: 0.85em
    padding: 10px
    width: 100%
    border-radius: 2px
    @media screen and (min-width: 600px)
        width: 140px
        // width: inherit
        border-radius: 0px 2px 2px 0px

.validation
    font-weight: bold
    color: #BA324F

.close-icon
    border: none
    float: right
    background: none
    width: 20px
    height: 20px
    padding: 0px
    margin-bottom: 20px
    margin-left: 100%
    img
        opacity: 0.5