@import 'helpers.sass'

.field-label
    // opacity: 0.5
    font-size: 1px
    margin-bottom: 10px
    position: absolute
    left: -1000px

.form
    display: flex
    flex-direction: row
    width: 100%

.field
    padding: 10px
    font-size: 1em
    border-radius: 2px 0px 0px 2px
    border: 1px solid #dfdfdf
    border-width: 1px 0px 1px 1px
    display: block
    width: 100%
    margin-bottom: 20px
    flex: 1

.button
    composes: 'button' from './helpers.sass'
    border: none
    background: $blue
    color: white
    height: 40px
    font-size: 0.85em
    min-width: 140px
    border-radius: 0px 2px 2px 0px
    padding: 10px

.validation
    font-weight: bold
    color: #BA324F