@import 'helpers.sass'

.link
    text-align: center
    margin: 0 auto
    text-decoration: none
    
.avatar
    width: 120px
    height: 120px
    border-radius: 100%
    display: block
    margin: 0px auto 15px auto
    @media screen and (min-width: 800px)
        width: 160px
        height: 160px
        margin-bottom: 20px

.name
    margin-top: 0px
    margin-bottom: 5px
    font-size: 1.2em
    color: $darkgrey
    @media screen and (min-width: 1400px)
        font-size: 1.3em
        
.role
    margin-top: 0px
    margin-bottom: 0px
    font-size: 0.9em
    color: $darkgrey
    @media screen and (min-width: 1400px)
        font-size: 1em